Webpack (import/exports)
    Babel
    Scss
    Eslint
    2 Modules
        - Dev
          Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
        - Prod
          Minified Code


GIT

    Изменение версии 1 - первая цифра, отвечает за глобальное изменение пакета, координально отличается от предыдущей
                     0 - вторая цифра, отвечает за серьезные изменения приложения, добовления каких-нибудь новых блоков или их удаления
                     0 - третяя цифра, изменили что-то незначительное
    Production
        1.0.0
        0 -----------
    Development
        1.0.2
        1 ---------------- + ---    PR(Pull Request)
        2 ------------------- ^ (После PR - ветка удаляется)