 @font-face {
   font-family: "Roboto";
   src: local(Roboto Thin), url("../fonts/Roboto-Thin.ttf");
   src: url("../fonts/Roboto-Thin.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.ttf") format("ttf"), url("../fonts/Roboto-Thin.ttf") format("ttf"), url("../fonts/Roboto-Thin.ttf") format("truetype");
   font-weight: 200;
 }
 @font-face {
   font-family: "Roboto";
   src: local(Roboto Light), url("../fonts/Roboto-Light.ttf");
   src: url("../fonts/Roboto-Light.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light.ttf") format("truetype");
   font-weight: 300;
 }
 @font-face {
   font-family: "Roboto";
   src: local(Roboto Regular), url("../fonts/Roboto-Regular.ttf");
   src: url("../fonts/Roboto-Regular.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("truetype");
   font-weight: 400;
 }
 @font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Medium.ttf");
   src: url("../fonts/Roboto-Medium.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.ttf") format("truetype");
   font-weight: 500;
 }
 @font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Bold.ttf");
   src: url("../fonts/Roboto-Bold.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.ttf") format("truetype");
   font-weight: 700;
 }

 @import "../../node_modules/normalize.css";

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 @import "header.scss";
 @import "toolbar.scss";
 @import "formula.scss";
 @import "table.scss";
 @import "dashboard";


body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

// bem - Block Element Modifier
.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}


